<h1><%= @adventure.name %></h1>
<h2><%= @adventure.description %></h2>
<h2><%= @adventure.location %></h2>
<h2><%= @adventure.date %></h2>
<h2><%= @adventure.start_time %></h2>
<h2><%= @adventure.end_time %></h2>
<% if @adventure.hosts.include?(current_user) %>
  <%= link_to 'Cancel Adventure', adventure_path(@adventure), method: :delete %>
  <%= link_to 'Update Adventure!', edit_adventure_path(@adventure) %>
  <%= link_to 'Add a Supply!', new_adventure_supply_path(@adventure) %>
  <% if @adventure.poll_opened_at %>
    <%= link_to 'Propose A Time', new_adventure_proposed_time_path(@adventure) %>
  <% else %>
    <%= link_to 'Open Time Poll', adventure_path(@adventure), method: :put %>
  <% end %>
<% elsif !@adventure.members.include?(current_user) %>
  <%= link_to 'Join The Adventure!', adventure_adventure_memberships_path(@adventure), method: :post %>
<% end %>

<ul>
  <% @adventure.proposed_times.each do |proposed_time| %>
  <li>
    <%= proposed_time.date %>
    <%= proposed_time.start_time %>
    <%= proposed_time.end_time %>
    <p>No. Attending: <%= proposed_time.votes.count %></p>
    <% if proposed_time.vote_record(current_user) %>
      <%= link_to 'Cannot Attend', proposed_time_proposed_time_vote_path(proposed_time, proposed_time.vote_record(current_user)), method: :delete %>
    <% else %>
      <%= link_to 'Can Attend', proposed_time_proposed_time_votes_path(proposed_time), method: :post %>
    <% end %>
  </li>
  <% end %>
</ul>

<ul>
  <% @adventure.supplies.each do |supply| %>
  <li>
    <%= supply.name %>
    <% if @adventure.hosts.include?(current_user) %>
      <%= link_to 'Delete Supply', adventure_supply_path(@adventure, supply), method: :delete %>
    <% end %>

    <% if @adventure.attendees.include?(current_user) %>
      <% if supply.brought_by?(current_user) %>
        <%= link_to 'I Cannot Bring This', adventure_supply_path(@adventure, supply), method: :put %>
      <% elsif supply.unclaimed? %>
        <%= link_to 'I Can Bring This!', adventure_supply_path(@adventure, supply), method: :put %>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if @adventure.attendees.include?(current_user) %>
  <%= link_to 'Add An Expense!', new_adventure_expense_path(@adventure) %>
<% end %>


<ul>
  <% @adventure.expenses.each do |expense| %>
  <li>
    <%= expense.name %> bought by <%= expense.owner.full_name %> for <%= expense.cost %>

    <% if user_signed_in? && expense.bought_by?(current_user) %>
      <%= link_to 'Delete Expense', adventure_expense_path(@adventure, expense), method: :delete %>
      <%= link_to 'Edit Expense', edit_adventure_expense_path(@adventure, expense) %>
    <% end %>
  </li>
  <% end %>
</ul>

<span>Total Cost: <%= @adventure.total_cost %></span>
<span>Cost Per Person: <%= @adventure.cost_per_person_formatted %></span>

<ul>
  <% @adventure.transactions.each do |transaction| %>
  <li>
    <%= transaction %>
  </li>
  <% end %>
</ul>
