<h1><%= @adventure.name %></h1>
<h2><%= @adventure.description %></h2>
<h2><%= @adventure.location %></h2>
<h2><%= @adventure.date %></h2>
<h2><%= @adventure.start_time %></h2>
<h2><%= @adventure.end_time %></h2>
<% if @adventure.hosts.include?(current_user) %>
  <%= link_to 'Cancel Adventure', adventure_path(@adventure), method: :delete %>
  <%= link_to 'Update Adventure!', edit_adventure_path(@adventure) %>
<% elsif !@adventure.members.include?(current_user) %>
  <%= link_to 'Join The Adventure!', adventure_adventure_memberships_path(@adventure), method: :post %>
<% end %>
